<!DOCTYPE html>
<html>
<head>
<title>ShredSpace</title>
<link rel="stylesheet" href="static/main.css">
<link href="icon.png.ico" rel="icon">
<!-- jQuery library -->
<script src="static/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="static/bootstrap.min.js"></script>

<link rel="stylesheet" href="static/bootstrap.min.css">
</head>
<body>
<header>
<h1>ShredSpace</h1>
</header>
{% if games | length > 0 %}
{% for game in games %}
<div class="gameData">
<h3>{{ game.displayName }}</h3>
<img src="{{ game.gameIcon }}" width="20%" />
<p>{{ game.description }}
<p>Rating: {{ game.rating }}+</p>
<a class="btn btn-primary" href="{{ game.name }}/{{ game.entryPoint }}?onShredspace=true">Play Now</a>
</div>
{% endfor %}
{% else %}
<p>No games installed! Run update.exe in the resources folder to download games!</p>
{% endif %}
</body>
</html>